<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
   <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>


   <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
   
  
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion des clients</title>
</head>
<body>




<div class="container-fluid p-2">
<div class="container mt-5">

<div class="row align-items-center justify-content-center ">
  <h1 class="text-center fs-1 fw-bold"> Clients </h1>
   


    <div class="col-sm-8 table-responsive w-100  m-sm-2 col-lg-10">
      
      <table class="table table-bordered">
          <thead width="100%">
       <tr>

        <th class="text-center text-light  fs-5 bg-info"> Nom</th>
       

         <th class="text-center text-light  fs-5 bg-info">Email</th> 
    
        <th class="text-center text-light  fs-5 bg-info">Addresse</th>

        <th class="text-center text-light  fs-5 bg-info">Telephone</th>
       
        <th class="text-center text-light  fs-5 bg-info">Image</th>
       
        <th class="text-center text-light  fs-5 bg-info">Edit</th>      
        <th class="text-center text-light  fs-5 bg-info">rool</th>
        <th class="text-center text-light  fs-5 bg-info">Delete</th>
      </tr>
        </thead>
        <tbody>
            {% for result in data %}
            <tr>
              <td class="text-dark  text-center">{{ result[1] }}</td>
 
              <td class="text-dark   text-center">{{ result[4] }}</td>
              <td class="text-dark   text-center">{{ result[5] }}</td>

              <td class="text-dark   text-center">{{ result[6] }}</td>
              <td class="text-dark   text-center"><img style="border-radius: 50%;width:40px ;height:50px" src="../../static/images/uploads/profils/{{result[8]}}" alt="">  </td>
           
             
              
              <td class="text-center">
          
                                  
<form action="/update_role" method="POST" style="max-width: 20px ; max-height : 20px ;">
 
                       
      
      
        
      <select name="update_role" id="" class="form-select">
        <option selected value="client">Client</option>
        <option value="livreur">Livreur</option>
        <option value="admin">Admin</option>
      </select>
      <input name="id-client" type="hidden" id="modal-id" value="{{ result[0] }}">
          
<input type="submit" value="save">
      </form>
      
         
              </td>
              <td class="text-dark   text-center">{{ result[-2] }}</td>
              <td class="text-center"><a  class=" btn btn-danger" href="{{ url_for('delete_user', id=result[0]   )}}" > delete</a></td>
            
            </tr>
            {% endfor %}

        </tbody>
   


    </table>


    </div>
</div>
    
</div>





</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>












</body>
</html>











