 
        <section class="right">
            <div class="investments">
                 <div class="header">
                     <h2>Investements</h2>
                     <a href="#"><span class="material-icons-sharp">chevron_right</span></a>
                 </div>
                 <div class="investement">
                     <img src="../static/images/logos/Lacoste.png">
                     <h4>Lacost</h4>
                     <div class="date-time">
                         <p>7 Nov, 2021</p>
                         <small class="text-muted">9:14pm</small>
                     </div>
                     <div class="bonds">
                         <p>1402</p>
                         <small class="text-muted">Bonds</small>
                     </div>
                     <div class="amount">
                         <h4>20.033 MAD</h4>
                         <small class="danger">-4.27</small>
                     </div>
                 </div>
                 <!--END OF INVESTEMENTS-->
                 <div class="investement">
                     <img src="../static/images/logos/Diadora.png">
                     <h4>Diadora</h4>
                     <div class="date-time">
                         <p>7 Nov, 2021</p>
                         <small class="text-muted">9:14pm</small>
                     </div>
                     <div class="bonds">
                         <p>1402</p>
                         <small class="text-muted">Bonds</small>
                     </div>
                     <div class="amount">
                         <h4>20.033 MAD</h4>
                         <small class="success">+7.98</small>
                     </div>
                 </div>
                 <!--END OF INVESTEMENTS-->
                 <div class="investement">
                     <img src="../static/images/logos/Fila.png">
                     <h4>Fila</h4>
                     <div class="date-time">
                         <p>7 Nov, 2021</p>
                         <small class="text-muted">9:14pm</small>
                     </div>
                     <div class="bonds">
                         <p>1402</p>
                         <small class="text-muted">Bonds</small>
                     </div>
                     <div class="amount">
                         <h4>20.033 MAD</h4>
                         <small class="danger">-4.27</small>
                     </div>
                 </div>
                 <!--END OF INVESTEMENTS-->
                 <div class="investement">
                     <img src="../static/images/logos/Adidas.png">
                     <h4>Adidas</h4>
                     <div class="date-time">
                         <p>7 Nov, 2021</p>
                         <small class="text-muted">9:14pm</small>
                     </div>
                     <div class="bonds">
                         <p>1402</p>
                         <small class="text-muted">Bonds</small>
                     </div>
                     <div class="amount">
                         <h4>20.033 MAD</h4>
                         <small class="success">+4.27</small>
                     </div>
                 <!--END OF INVESTEMENTS-->
                 </div>
                 <div class="recent-transactions">
                     <div class="header">
                         <h2> Recent Transaction </h2>
                         <a href="#">More <span class="material-symbols-sharp">chevron_right</span></a>
                     </div> 
                     <div class="transaction">
                         <div class="service">
                             <div class="icon bg-purple-light">
                                 <span class="material-icons-sharp purple">headset_mic</span> 
                             </div>
                             <div class="details">
                                 <h4>Musica</h4>
                                 <p>03.03.2023</p>
                             </div>
                         </div>
                         <div class="card-details">
                             <div class="card bg-danger">
                                 <img src="../static/images/logos/Supreme.png">
                             </div>
                             <div class="details">
                                 *2757
                                 <small class="text-muted">Nothing</small>
                             </div>
                         </div>
                         <h4>20 MAD</h4>
                     </div>
                     <!------------ END OF TRANSACTIONS --->
                     <div class="transaction">
                         <div class="service">
                             <div class="icon bg-purple-light">
                                 <span class="material-icons-sharp purple">shopping_bag</span> 
                             </div>
                             <div class="details">
                                 <h4>Shopping</h4>
                                 <p>03.03.2023</p>
                             </div>
                         </div>
                         <div class="card-details">
                             <div class="card bg-danger">
                                 <img src="../static/images/logos/Supreme.png">
                             </div>
                             <div class="details">
                                 *2757
                                 <small class="text-muted">Nothing</small>
                             </div>
                         </div>
                         <h4>20 MAD</h4>
                     </div>
                     <!------------ END OF TRANSACTIONS --->
                     <div class="transaction">
                         <div class="service">
                             <div class="icon bg-purple-light">
                                 <span class="material-icons-sharp">shopping_bag</span> 
                             </div>
                             <div class="details">
                                 <h4></h4>
                                 <p>19.03.2023</p>
                             </div>
                         </div>
                         <div class="card-details">
                             <div class="card bg-primary">
                                 <img src="../static/images/logos/Supreme.png">
                             </div>
                             <div class="details">
                                 *2757
                                 <small class="text-muted">Nothing</small>
                             </div>
                         </div>
                         <h4>20 MAD</h4>
                     </div>
                     <!------------ END OF TRANSACTIONS --->
 
                 </div>
            </div>
            <!-- END OF INVESTMENTS -->
         </section>
         <!--END OF RIGHT-->